<div class="container-fluid" style="text-align:center">
  <h3>
    Welcome to Quick Gym!
  </h3>
  <p>Your own personal fitness trainer.</p>
  <br>
  <h4>Try the 8 minute workout:</h4>
  <div id="start" class="row justify-content-md-center">
    <a routerLink="/workout/8-minute-workout" class="btn btn-primary btn-lg" role="button" aria-pressed="true">
      <span>Start</span>
    </a>
  </div>
  <br>
  <h4>Sign in to use custom workout plans</h4>
  <a routerLink="/home/signin" class="btn btn-primary btn-md">Sign In</a>
</div>
